# Ignore compiled Python files
*.pyc

# Ignore Python cache directories
__pycache__/

# Ignore virtual environment directories
venv/
player_position.json

# Ignore the tempCodeRunnerFile.py
tempCodeRunnerFile.py
game_state.json